<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Digit Recognization</title>
  </head>
  <body>
    <h1>Lets get started with Digit Recognization!</h1>
    <form  action="/predict" method="post" enctype="multipart/form-data">
      <div>
        <label for="imgUpload">Uplod Image</label>
        <input type="file" name="imgUpload" accept="image/png,image/jpeg">
        <input type="submit" name="submit" value="Submit"> 
      </div>
    </form>
  </body>
</html>
